@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #bdb5ff, #b950ff, #ff55d2, #fdeff9);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: #fff;
    /* margin-top: 0.3rem; */
}

/* Animación de fondo en movimiento */
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
  font-size: 1.3em;
  margin-bottom: 0;
  color: #171717;
  margin-top: 0;
}
h2{
  font-size: 1.3rem;
  text-align: center;
  color: #ffcdde;
}
img {
  max-width: 6rem; /* Ajusta el tamaño del logo */
  display: block;
  margin: 0 auto 20px;
  margin-top: 0.2rem;
  margin-bottom: 0;
  filter: drop-shadow(0 0 10px #ff6f9fcc); /* Efecto de sombra sobre el logo */
}
form {
  margin: 0 auto;
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.38);
  max-width: 90%;
  text-align: left;
  color: #2b2b2b;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 0.9em;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 94%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ffcdde;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  gap: 1px;
  
}

::placeholder{
  text-align: left;
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 0.84rem;
}

div {
  margin: 0 auto;
  display: flex;
}

button {
  position: relative;
  background: #ff6f9f8a;
  color: #ffffff;
  border: none;
  padding: 12px 15px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s;
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  z-index: 1;
}

button::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 300%;
  height: 300%;
  background: rgba(255, 0, 217, 0.518);
  border-radius: 50%;
  z-index: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  pointer-events: none;
}

button:hover {
  background: #ff4482;
}

button:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

button {
  transition: transform 0.15s ease-in-out;
}

button:active {
  transform: scale(0.9); /* Se hunde al presionar */
}

button {
  transform: scale(1); /* Vuelve a su tamaño normal */
}
.topp{
  margin-top: 1rem;
}

#back-button {
  background: #ff61968a;
  
}

#back-button:hover {
  background: #ff4482;
}

@media (max-width: 768px) {
  img{
    margin-top: 0.2rem;
  }
  body{
    margin-top: 1rem;
  }
  form {
      width: 90%;
  }
  h1 {
      font-size: 1.3em;
  }
}